fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
razorpay
slowapi
python-multipart
boto3
python-dotenv
httpx
aiofiles
